p {
	font: Verdana;
	font-size: 16pt;
}

p.center {
	text-align: center;
}

h1 {
	text-align: center;
}

img {
    height: 200px;
    width: 150px;
    display: block;
    margin: 0 auto;
}

div {
	width: 500px;
}

#info {
	font: Verdana;
	font-size: 16pt;
	background-color: azure;
	width: 150px;
	display: block;
	margin: 0 auto;
}

.job {
	font-weight: bold;
}

.wider {
	width: 1000px;
}